.vs/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Debug/
Makefile
cassini
cassini.dir/
Release/
src/primordial_soup
./*.exe
*.bin
*.ilk
*.ld
*.o
*.opensdf
*.pdb
*.preprocessed
*.S
*.sdf
*.sln
*.stripped
*.suo
*.unprocessed
*.VC.*
*.vcxproj*
